/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: /* Ubuntu, sans-serif */;
    color: /* #xxxxxx */;
}

h1 {
   font-size: /* x.xrem  (rem is a unit of measure) */;
   color: /* #xxxxxx */;
}

h2 {color: ;
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: /* */;
    color: black;
}

header img {
    width: /*  */;
    height: auto;
    float: right;
}

footer {
    font-size: /* smaller */;
}
<!--/********************************/
/*css class on styles*/

/*class selectors */
/*.container
{
    width: 50em;
    margin-left: auto;
    margin-left: auto;
}
.nav
{padding: 1em 2em;
background: green;
}

.intro
{
 font-size: 1.2em;
 color: gray;  
}

/*id selector*/
/*#header,#footer
{
    padding: 2em;
    color: #fff;
    background: #000;
}
#main
{
    margin: 1em 2em;
}

/*universal selectors*/
(*)
/*{
    margin:0;
    padding:0;
}

/*descendant selectors*/
/*.nav ul
{
    margin: 0;
    padding: 0;
}
.nav li
{
    display: inline;
    margin-right: 1em; 
}
.nav li a { color: #fff; }

/*child selectors */
.nav li>a {text-decoration: none}

/*adjacent sibling selectors*/
/*h3 + h4 { margin-top: 2em;}

/*link psuedo-class selectors*/
/*must be in this order*/
/*a:link { color:green; }
a:visited { color: brown;}
a:focus { color: black; }
a:hover { color: lime; }
a:active { color: red; }
 /*color and inheritance*/
/*p { border: 1px solid red; }
/*inheritance example*/
/*body
{
    font-family: arial, helvetica, sans-serif;
    font-size: 90%;
}

h1,h2,h3,h4,h5,h6 { font-family: georgia, times, serif; }
hi { font-size: 220%; }-->
